@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #c2e7ff
}
nav{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

}

nav img{
    width: 150px;
    cursor: pointer;

}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
   text-decoration: none;
   color: rgb(21, 21, 21);
   font-size: 16px;
   font-weight: 500;
   transition: 0.3s ease;

}

nav .navigation ul li a:hover{
    color: blue;
}


.banner_image img{
    width: 800px;
    height: 400px;
    border-radius: 12px;
    margin-left: 100px;
    margin-top: 50px;
    


}
.post-h2{
    font-size: 2rem;
    margin-left: 100px;


}
.post hr{
    margin: 3rem 0;
}
.about-author{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 100px;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem; 
    margin-left: 200px;
    margin-right: 200px;
}


/* Long Card */

.h-card{
    display: flex;
    margin: 4rem 8rem;
    box-shadow: 0px 5px 4px rgba(221, 221, 221,0.25);
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow: hidden;


}

.card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.status{
    display: flex;
    justify-content: space-between;
}

.read-btn{
    all: unset;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}
.read-btn:hover{
    border-bottom: 1px solid black;
}
.img-box{
    border-radius: 12px;
    margin-right: 50px;
}
footer{
    /* background:#000; */
    /* background: linear-gradient(to right,#f7f755,#6A93CB);  */
    background: #fff;
    /* background: #c2e7ff; */
    padding-bottom: 30px 0px; 
    padding-top: 30px; 
    font-family: 'Poppins', sans-serif;
    text-align:center;
} 
.footer img{
    padding-top: 15px;
    padding-bottom: 15px;
}
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:black;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:black;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px; 
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
.footer .row a i{
    margin:0% 3%;
}
}